<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Edit group members</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../../static/lib/jquery-typewatch.js"
          th:src="@{/lib/jquery-typewatch.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div th:replace="~{fragments/loading-spinner :: loading-spinner}"></div>

  <!--suppress ThymeleafVariablesResolveInspection -->
  <div th:if="${rmsg != null}"
       class="alert alert-success"
       th:class="${rmsg != null} ? ${rmsg.msgType.cssClass} : ''" role="alert"
       th:text="${rmsg != null} ? ${rmsg.msg} : ''">
    Status message
  </div>

  <div th:if="${group != null}">
    <div class="row mb-4">
      <div class="col-1">
        <a class="btn btn-outline-secondary" href="groups.html"
           th:href="@{groups(page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-backward"></span>
        </a>
      </div>
      <div class="col">
        <div class="container">
          <div class="d-flex justify-content-center">
            <h3 class="small">Edit members of group</h3>
          </div>
          <div class="d-flex justify-content-center">
            <h3 th:text="${group.name}">Domain Users</h3>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link" href="group-edit.html"
           th:href="@{group-edit(name=${group.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${group.parentDistinguishedName},scope=${scope})}">
          <span class="fa fa-edit" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <span class="fa fa-people-group" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="group-memberships-direct.html"
           th:href="@{group-memberships-direct(name=${group.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-folder-tree" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="group-delete.html"
           th:classappend="${group.sid.systemEntity} ? 'disabled' : ''"
           th:attr="aria-disabled=${group.sid.systemEntity}"
           th:href="@{group-delete(name=${group.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-trash-alt" aria-hidden="true"></span>
        </a>
      </li>
    </ul>


    <div class="mb-3 p-3 border border-1">
      <div class="row justify-content-between">
        <div class="col col-auto">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <div class="input-group">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" id="q" name="q" class="form-control"
                       placeholder="Search ..."
                       th:value="${memberQuery}">
                <span class="input-group-text" th:if="${not #strings.isEmpty(memberQuery)}">
                <a id="searchInputReset" href="#" title="Reset search"
                   th:href="@{group-edit-members(name=${group.samAccountName},page=${page},size=${size},sort=${sort},ou=${ou},scope=${scope},member-page=${memberPageNo},member-size=${memberPageSize},member-sort=${memberSort},member-type-computer=${memberTypeComputer},member-type-group=${memberTypeGroup},member-type-user=${memberTypeUser})}"
                   th:classappend="${#strings.isEmpty(memberQuery)} ? 'disabled' : ''"
                   th:disabled="${#strings.isEmpty(memberQuery)}"
                   th:aria-disabled="${#strings.isEmpty(memberQuery)}">
                  <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                </a>
              </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-auto mt-sm-2 mt-md-0">
          <div id="memberTypeSwitch" class="form-switch">
            <div class="form-check form-check-inline ms-4">
              <input class="form-check-input" type="checkbox" id="userSwitch" value="user" role="switch" checked>
              <label class="form-check-label" for="userSwitch">
                <span class="text-primary">
                  <span class="fas fa-user" aria-hidden="true"></span>
                </span>
              </label>
            </div>
            <div class="form-check form-check-inline ms-4">
              <input class="form-check-input" type="checkbox" id="groupSwitch" value="group" role="switch" checked>
              <label class="form-check-label" for="groupSwitch">
                <span class="text-success">
                  <span class="fas fa-user-group" aria-hidden="true"></span>
                </span>
              </label>
            </div>
            <div class="form-check form-check-inline ms-4">
              <input class="form-check-input" type="checkbox" id="computerSwitch" value="computer" role="switch" checked>
              <label class="form-check-label" for="computerSwitch">
                <span class="text-warning">
                  <span class="fas fa-computer" aria-hidden="true"></span>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:if="${#lists.isEmpty(memberPage.content)}"
         class="alert alert-info" role="alert">
      No members were found.
    </div>

    <div class="list-group list-group-flush" th:if="${not #lists.isEmpty(memberPage.content)}">
      <div class="list-group-item list-group-item-action" aria-current="true"
           th:each="member,iter : ${memberPage.content}"
           th:classappend="'member-type-' + ${member.memberType}">
        <div class="d-flex w-100 justify-content-between">
          <div class="h6">
            <span class="text-primary" th:if="${#strings.equals(member.memberType, 'user')}">
              <span class="fas fa-user" aria-hidden="true"></span>
            </span>
            <span class="text-success" th:if="${#strings.equals(member.memberType, 'group')}">
              <span class="fas fa-user-group" aria-hidden="true"></span>
            </span>
            <span class="text-warning" th:if="${#strings.equals(member.memberType, 'computer')}">
              <span class="fas fa-computer" aria-hidden="true"></span>
            </span>
            <span class="text-danger" th:if="${#strings.equals(member.memberType, 'unknown')}">
              <span class="fas fa-question-circle" aria-hidden="true"></span>
            </span>
            <span class="ms-1" th:text="${member.displayName}">Anna</span>
          </div>
          <div class="form-switch h6">
            <input th:id="'member-' + ${iter.index}" id="member-0"
                   th:name="'member-' + ${iter.index}" name="member-0"
                   th:checked="${member.selected}"
                   type="checkbox" class="form-check-input" role="switch" />
          </div>
        </div>
        <small class="text-secondary" th:text="${member.nameTree}">CN</small>
      </div>
    </div>

    <nav aria-label="Page navigation" th:if="${@paginationHelper.getTotalPages(memberPage) > 1}">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${@paginationHelper.isValidPageNumber(memberPage, memberPage.number - 3)}">
          <a class="page-link" href="#" aria-label="First"
             th:href="@{${currentPage}(name=${group.samAccountName},member-page=0,member-size=${memberPageSize},member-sort=${memberSort},member-type-computer=${memberTypeComputer},member-type-group=${memberTypeGroup},member-type-user=${memberTypeUser},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"
            th:if="${@paginationHelper.isValidPageNumber(memberPage, memberPage.number - 5)}">
          <a class="page-link" href="#" aria-label="Previous"
             th:href="@{${currentPage}(name=${group.samAccountName},member-page=${memberPage.number - 5},member-size=${memberPageSize},member-sort=${memberSort},member-type-computer=${memberTypeComputer},member-type-group=${memberTypeGroup},member-type-user=${memberTypeUser},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
            <span aria-hidden="true">&mldr;</span>
          </a>
        </li>
        <li class="page-item"
            th:if="${@paginationHelper.isValidPageNumber(memberPage, memberPage.number - 2)}">
          <a class="page-link" href="#" th:text="${memberPage.number - 1}"
             th:href="@{${currentPage}(name=${group.samAccountName},member-page=${memberPage.number - 2},member-size=${memberPageSize},member-sort=${memberSort},member-type-computer=${memberTypeComputer},member-type-group=${memberTypeGroup},member-type-user=${memberTypeUser},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
            1
          </a>
        </li>
        <li class="page-item" th:if="${@paginationHelper.isValidPageNumber(memberPage, memberPage.number - 1)}">
          <a class="page-link" href="#" th:text="${memberPage.number}"
             th:href="@{${currentPage}(name=${group.samAccountName},member-page=${memberPage.number - 1},member-size=${memberPageSize},member-sort=${memberSort},member-type-computer=${memberTypeComputer},member-type-group=${memberTypeGroup},member-type-user=${memberTypeUser},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
            2
          </a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#" th:text="${memberPage.number + 1}">
            3
          </a>
        </li>
        <li class="page-item"
            th:if="${@paginationHelper.isValidPageNumber(memberPage, memberPage.number + 1)}">
          <a class="page-link" href="#" th:text="${memberPage.number + 2}"
             th:href="@{${currentPage}(name=${group.samAccountName},member-page=${memberPage.number + 1},member-size=${memberPageSize},member-sort=${memberSort},member-type-computer=${memberTypeComputer},member-type-group=${memberTypeGroup},member-type-user=${memberTypeUser},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
            4
          </a>
        </li>
        <li class="page-item"
            th:if="${@paginationHelper.isValidPageNumber(memberPage, memberPage.number + 2)}">
          <a class="page-link" href="#" th:text="${memberPage.number + 3}"
             th:href="@{${currentPage}(name=${group.samAccountName},member-page=${memberPage.number + 2},member-size=${memberPageSize},member-sort=${memberSort},member-type-computer=${memberTypeComputer},member-type-group=${memberTypeGroup},member-type-user=${memberTypeUser},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
            5
          </a>
        </li>
        <li class="page-item"
            th:if="${@paginationHelper.isValidPageNumber(memberPage, memberPage.number + 5)}">
          <a class="page-link" href="#" aria-label="Next"
             th:href="@{${currentPage}(name=${group.samAccountName},member-page=${memberPage.number + 5},member-size=${memberPageSize},member-sort=${memberSort},member-type-computer=${memberTypeComputer},member-type-group=${memberTypeGroup},member-type-user=${memberTypeUser},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
            <span aria-hidden="true">&mldr;</span>
          </a>
        </li>
        <li class="page-item"
            th:if="${@paginationHelper.isValidPageNumber(memberPage, memberPage.number + 3)}">
          <a class="page-link" href="#" aria-label="Last"
             th:href="@{${currentPage}(name=${group.samAccountName},member-page=${@paginationHelper.getTotalPages(memberPage) - 1},member-size=${memberPageSize},member-sort=${memberSort},member-type-computer=${memberTypeComputer},member-type-group=${memberTypeGroup},member-type-user=${memberTypeUser},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</main>
<script type="text/javascript" th:inline="javascript">
  //<![CDATA[
  "use strict";
  function moveCursorToEnd(input) {
    const length = input.value.length;
    input.focus();
    input.setSelectionRange(length, length);
  }

  $(document).ready(function () {
    const currentPage = /*[[${currentPage}]]*/ "group-edit-members";
    const name = /*[[${group.samAccountName}]]*/ "";
    const memberPageNo = /*[[${memberPageNo}]]*/ "";
    const memberPageSize = /*[[${memberPageSize}]]*/ "";
    const memberSort = /*[[${memberSort}]]*/ "";
    const page = /*[[${page}]]*/ "";
    const size = /*[[${size}]]*/ "";
    const sort = /*[[${sort}]]*/ "";
    const q = /*[[${q}]]*/ "";
    const ou = /*[[${ou}]]*/ "";
    const scope = /*[[${scope}]]*/ "";

    const loadingSpinnerModal = new bootstrap.Modal('#loadingSpinnerModal');
    $('a.show-spinner').on('click', function () {
      loadingSpinnerModal.show();
    });
    $( globalThis ).on('pageshow', function () {
      loadingSpinnerModal.hide();
    });

    const searchInput = $('#q');
    searchInput.typeWatch({
      callback: function (value) {
        globalThis.location.href = currentPage
            + "?name=" + encodeURIComponent(name)
            + "&member-page=" + memberPageNo
            + "&member-size=" + memberPageSize
            + "&member-sort=" + encodeURIComponent(memberSort)
            + "&member-q=" + encodeURIComponent(value)
            + "&page=" + page
            + "&size=" + size
            + "&sort=" + encodeURIComponent(sort)
            + "&q=" + encodeURIComponent(q)
            + "&ou=" + encodeURIComponent(ou)
            + "&scope=" + scope;
      },
      wait: 750,
      highlight: true,
      allowSubmit: false,
      captureLength: 3
    });
    moveCursorToEnd(searchInput[0]);

    $('#memberTypeSwitch :checkbox').on("change", function () {
      const checkbox = $(this);
      const value = checkbox.val();
      if (checkbox.is(':checked')) {
        $('#memberList .member-type-' + value).show();
      } else {
        $('#memberList .member-type-' + value).hide();
      }
    });
  });
  //]]>
</script>
</body>
</html>