<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Users</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../../static/lib/jquery-typewatch.js"
          th:src="@{/lib/jquery-typewatch.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div th:replace="~{fragments/loading-spinner :: loading-spinner}"></div>

  <!--suppress ThymeleafVariablesResolveInspection -->
  <div th:if="${rmsg != null}"
       class="alert alert-success"
       th:class="${rmsg != null} ? ${rmsg.msgType.cssClass} : ''" role="alert"
       th:text="${rmsg != null} ? ${rmsg.msg} : ''">
    Status message
  </div>

  <div th:if="${group != null}">
    <div class="row mb-4">
      <div class="col-1">
        <a class="btn btn-outline-secondary" href="groups.html"
           th:href="@{groups(page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-backward"></span>
        </a>
      </div>
      <div class="col">
        <div class="container">
          <div class="d-flex justify-content-center">
            <h3 class="small">Edit members of group</h3>
          </div>
          <div class="d-flex justify-content-center">
            <h3 th:text="${group.name}">Domain Users</h3>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link" href="group-edit.html"
           th:href="@{group-edit(name=${group.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${group.parentDistinguishedName},scope=${scope})}">
          <span class="fa fa-edit" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <span class="fa fa-people-group" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="group-memberships-direct.html"
           th:href="@{group-memberships-direct(name=${group.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-folder-tree" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="group-delete.html"
           th:classappend="${group.sid.systemEntity} ? 'disabled' : ''"
           th:attr="aria-disabled=${group.sid.systemEntity}"
           th:href="@{group-delete(name=${group.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-trash-alt" aria-hidden="true"></span>
        </a>
      </li>
    </ul>

    <div class="mx-0 mx-sm-1 mx-md-3" th:if="${not #lists.isEmpty(possibleMembers.members)}">
      <div id="memberTypeSwitch"
           class="mb-3 p-3 border border-1 d-flex justify-content-center form-switch">
        <div class="form-check form-check-inline ms-4">
          <input class="form-check-input" type="checkbox" id="userSwitch" value="user" role="switch"
                 checked>
          <label class="form-check-label" for="userSwitch">
            <span class="text-primary">
              <span class="fas fa-user" aria-hidden="true"></span>
            </span>
          </label>
        </div>
        <div class="form-check form-check-inline ms-4">
          <input class="form-check-input" type="checkbox" id="groupSwitch" value="group"
                 role="switch" checked>
          <label class="form-check-label" for="groupSwitch">
            <span class="text-success">
              <span class="fas fa-user-group" aria-hidden="true"></span>
            </span>
          </label>
        </div>
        <div class="form-check form-check-inline ms-4">
          <input class="form-check-input" type="checkbox" id="computerSwitch" value="computer"
                 role="switch" checked>
          <label class="form-check-label" for="computerSwitch">
            <span class="text-warning">
              <span class="fas fa-computer" aria-hidden="true"></span>
            </span>
          </label>
        </div>
      </div>

      <form th:action="@{group-edit-members}" th:object="${editRequest}" action="#" method="post">

        <input type="hidden" name="page" th:value="${page}"/>
        <input type="hidden" name="size" th:value="${size}"/>
        <input type="hidden" name="sort" th:value="${sort}"/>
        <input type="hidden" name="q" th:value="${q}"/>
        <input type="hidden" name="ou" th:value="${ou}"/>
        <input type="hidden" name="scope" th:value="${scope}"/>

        <input type="hidden" name="name" th:value="${group.samAccountName}"/>

        <div id="memberList" class="list-group list-group-flush">
          <div class="list-group-item list-group-item-action" aria-current="true"
               th:each="member,iter : ${possibleMembers.members}"
               th:classappend="'member-type-' + ${member.memberType}">
            <div class="d-flex w-100 justify-content-between">
              <div>
                <label th:for="'member-' + ${iter.index}" for="member-0" class="h5">
                  <span class="text-primary" th:if="${#strings.equals(member.memberType, 'user')}">
                    <span class="fas fa-user" aria-hidden="true"></span>
                  </span>
                  <span class="text-success"
                        th:if="${#strings.equals(member.memberType, 'group')}">
                    <span class="fas fa-user-group" aria-hidden="true"></span>
                  </span>
                  <span class="text-warning"
                        th:if="${#strings.equals(member.memberType, 'computer')}">
                    <span class="fas fa-computer" aria-hidden="true"></span>
                  </span>
                  <span class="text-danger"
                        th:if="${#strings.equals(member.memberType, 'unknown')}">
                    <span class="fas fa-question-circle" aria-hidden="true"></span>
                  </span>
                  <span class="ms-1" th:text="${member.displayName}">Anna</span>
                </label>
              </div>
              <div class="form-switch h5">
                <input th:id="'member-' + ${iter.index}" id="member-0"
                       th:name="'member-' + ${iter.index}" name="members"
                       type="checkbox" class="form-check-input" role="switch"
                       th:field="*{membersBase64}"
                       th:value="${member.distinguishedNameBase64}"/>
              </div>
            </div>
            <small class="text-secondary" th:text="${member.nameTree}">CN</small>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">
          Update
        </button>
        <a href="groups.html"
           th:href="@{groups(page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}"
           class="btn btn-secondary ml-3 mt-3" role="button">
          Cancel
        </a>
      </form>
    </div>

  </div>
</main>
<script type="text/javascript" th:inline="javascript">
  //<![CDATA[
  "use strict";
  $(document).ready(function () {
    const loadingSpinnerModal = new bootstrap.Modal('#loadingSpinnerModal');
    $('a.show-spinner').on('click', function () {
      loadingSpinnerModal.show();
    });

    $('#memberTypeSwitch :checkbox').on("change", function () {
      const checkbox = $(this);
      const value = checkbox.val();
      if (checkbox.is(':checked')) {
        $('#memberList .member-type-' + value).show();
      } else {
        $('#memberList .member-type-' + value).hide();
      }
    });
  });
  //]]>
</script>
</body>
</html>