<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Users</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div th:replace="~{fragments/loading-spinner :: loading-spinner}"></div>

  <!--suppress ThymeleafVariablesResolveInspection -->
  <div th:if="${rmsg != null}"
       class="alert alert-success mb-4"
       th:class="${rmsg != null} ? ${rmsg.msgType.cssClass} : ''" role="alert"
       th:text="${rmsg != null} ? ${rmsg.msg} : ''">
    Status message
  </div>

  <div th:if="${user != null}">
    <div class="row mb-4">
      <div class="col-1">
        <a class="btn btn-outline-secondary" href="users.html"
           th:href="@{users(page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-backward"></span>
        </a>
      </div>
      <div class="col">
        <div class="container">
          <div class="d-flex justify-content-center mb-3">
            <img id="avatarImage" src="../../static/mp.jpg"
                 th:src="@{'/api/users/' + ${user.samAccountName} + '/avatar?d=mp&s=200'}"
                 class="rounded-circle" alt="avatar"
                 style="width: 200px; height: 200px; object-fit: cover;"  />
          </div>
          <div class="d-flex justify-content-center">
            <h3 class="small">Reset password of user</h3>
          </div>
          <div class="d-flex justify-content-center">
            <h3 th:text="${user.name}">Administrator</h3>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link" href="user-edit.html"
           th:href="@{user-edit(user=${user.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-user-edit" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user-memberships-direct.html"
           th:href="@{user-memberships-direct(user=${user.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-folder-tree" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user-delete.html"
           th:classappend="${user.sid.systemEntity} ? 'disabled' : ''"
           th:attr="aria-disabled=${user.sid.systemEntity}"
           th:href="@{user-delete(user=${user.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-trash-alt" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <span class="fa fa-shapes" aria-hidden="true"></span>
        </a>
      </li>
    </ul>

    <div class="mx-0 mx-sm-1 mx-md-3">

      <div class="mb-4 p-3 border border-1">
        <div class="h5 mb-3">Reset Password</div>
        <form th:action="@{user-reset-password}" th:object="${passwordRequest}" action="#" method="post">
          <input type="hidden" name="page" th:value="${page}"/>
          <input type="hidden" name="size" th:value="${size}"/>
          <input type="hidden" name="sort" th:value="${sort}"/>
          <input type="hidden" name="q" th:value="${q}"/>
          <input type="hidden" name="ou" th:value="${ou}"/>
          <input type="hidden" name="scope" th:value="${scope}"/>
          <input type="hidden" name="user" th:field="*{samAccountName}"/>

          <div id="passwordDiv" class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password"
                   aria-describedby="passwordValidation"
                   pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,75}$"
                   th:pattern="${passwordPattern}"
                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                   th:field="*{password}"/>
            <div id="passwordHelp" class="form-text">
              Please enter a new password. It must be between 8 and 75 characters in length and must
              include at least one upper case letter, one lower case letter, and one numeric digit.
            </div>
            <div id="passwordValidation" class="invalid-feedback"
                 th:text="${#fields.hasErrors('password')} ? ${#fields.errors('password')[0]} : ''">
            </div>
          </div>

          <div class="form-check form-switch mb-3" th:if="${not #strings.isEmpty(user.email)}">
            <input class="form-check-input" type="checkbox" role="switch"
                   id="generateRandomPassword"
                   name="generateRandomPassword" th:field="*{generateRandomPassword}"/>
            <label for="generateRandomPassword" class="form-label">
              Generate random password and send email
            </label>
          </div>
          <button type="submit" class="btn btn-primary mt-3 mb-3">
            Submit
          </button>
        </form>
      </div>

    </div>
  </div>
</main>
<script type="text/javascript" th:inline="javascript">
  //<![CDATA[
  "use strict";
  $(document).ready(function () {
    const loadingSpinnerModal = new bootstrap.Modal('#loadingSpinnerModal');
    $('a.show-spinner').on('click', function () {
      loadingSpinnerModal.show();
    });

    const email = /*[[${not #strings.isEmpty(user.email)}]]*/ false;
    if (email) {
      const passwordDiv = $('#passwordDiv');
      const passwordInput = $('#password');
      $('#generateRandomPassword').on("change", function () {
        const checkbox = $(this);
        if (checkbox.is(':checked')) {
          passwordInput.val('');
          passwordDiv.hide();
        } else {
          passwordDiv.show();
        }
      });
    }
  });
  //]]>
</script>
</body>
</html>