<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title th:text="#{user-edit.title}">Edit user</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: management-header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div th:replace="~{fragments/loading-spinner :: loading-spinner}"></div>

  <!--suppress ThymeleafVariablesResolveInspection -->
  <div th:if="${rmsg != null}"
       class="alert alert-success mb-4"
       th:class="${rmsg != null} ? ${rmsg.msgType.cssClass} : ''" role="alert"
       th:text="${rmsg != null} ? ${rmsg.msg} : ''">
    Status message
  </div>

  <div th:if="${editModel != null}">
    <div class="row mb-4">
      <div class="col-1">
        <a class="btn btn-outline-secondary" href="users.html"
           th:href="@{users(page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-backward" aria-hidden="true" th:title="#{common.back}">
            <span style="display: none;">Back</span>
          </span>
        </a>
      </div>
      <div class="col">
        <div class="container">
          <div class="d-flex justify-content-center mb-3">
            <img id="avatarImage" src="../../static/mp.jpg"
                 th:src="@{'/api/users/' + ${user.samAccountName} + '/avatar?d=mp&s=200'}"
                 class="rounded-circle" alt="avatar"
                 style="width: 200px; height: 200px; object-fit: cover;"  />
          </div>
          <div class="d-flex justify-content-center">
            <h3 class="small" th:text="#{user-edit.header}">Edit user</h3>
          </div>
          <div class="d-flex justify-content-center">
            <h3 th:text="${user.name}">Administrator</h3>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" th:title="#{common.edit}">
          <span class="fa fa-user-edit" aria-hidden="true">
            <span style="display: none;">Edit</span>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user-memberships-direct.html" th:title="#{common.memberships.label}"
           th:href="@{user-memberships-direct(user=${user.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-folder-tree" aria-hidden="true">
            <span style="display: none;">Memberships</span>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user-delete.html" th:title="#{common.delete}"
           th:classappend="${user.sid.systemEntity} ? 'disabled' : ''"
           th:attr="aria-disabled=${user.sid.systemEntity}"
           th:href="@{user-delete(user=${user.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-trash-alt" aria-hidden="true">
            <span style="display: none;">Delete</span>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user-reset-password.html" th:title="#{user-reset-password.title}"
           th:href="@{user-reset-password(user=${user.samAccountName},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-shapes" aria-hidden="true">
            <span style="display: none;">Password</span>
          </span>
        </a>
      </li>
    </ul>

    <div class="mx-0 mx-sm-1 mx-md-3">
      <form th:action="@{user-edit}" th:object="${editModel}" action="#" method="post"
            enctype="multipart/form-data">
        <input type="hidden" name="page" th:value="${page}"/>
        <input type="hidden" name="size" th:value="${size}"/>
        <input type="hidden" name="sort" th:value="${sort}"/>
        <input type="hidden" name="q" th:value="${q}"/>
        <input type="hidden" name="ou" th:value="${ou}"/>
        <input type="hidden" name="scope" th:value="${scope}"/>

        <input type="hidden" name="user" th:value="${user.samAccountName}"/>

        <input type="hidden" name="previousSamAccountName"
               th:value="${editModel.samAccountName}"/>
        <input type="hidden" name="previousFirstName" th:value="${editModel.firstName}"/>
        <input type="hidden" name="previousLastName" th:value="${editModel.lastName}"/>

        <input type="hidden" id="accountExpires" name="accountExpires" th:field="*{accountExpiresIso}" />

        <div class="mb-3">
          <label for="newAvatar" class="form-label" th:text="#{user-edit.avatar.label}">Avatar</label>
          <input type="file" accept="image/jpeg" class="form-control" id="newAvatar" name="avatar"
                 aria-describedby="avatarValidation"
                 th:classappend="${#fields.hasErrors('avatar')} ? 'is-invalid' : ''"
                 th:field="*{avatar}" />
          <div id="avatarValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('avatar')} ? ${#fields.errors('avatar')[0]} : ''">
          </div>
        </div>

        <div class="form-check form-switch mb-3" th:if="${avatarExists}">
          <input class="form-check-input" type="checkbox" id="removeAvatar"
                 name="removeAvatar" th:field="*{removeAvatar}" />
          <label class="form-check-label" for="removeAvatar" th:text="#{user-edit.avatar.remove}">
            Remove avatar
          </label>
        </div>

        <div class="mb-3">
          <label for="newOu" class="form-label" th:text="#{common.ou.label}">Organizational Unit</label>
          <select id="newOu" class="form-select" aria-label="Organizational Unit"
                  aria-describedby="newOuValidation"
                  th:classappend="${#fields.hasErrors('newOu')} ? 'is-invalid' : ''"
                  th:field="*{newOu}">
            <option th:each="o : ${ous}" th:value="${o.distinguishedNameNormalized}" th:text="${o.nameTree}">
              Users
            </option>
          </select>
          <div id="newOuValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('newOu')} ? ${#fields.errors('newOu')[0]} : ''">
          </div>
        </div>

        <div class="mb-3">
          <label for="samAccountName" class="form-label" th:text="#{user.username.label}">Username</label>
          <input type="text" class="form-control" id="samAccountName" name="samAccountName"
                 aria-describedby="samAccountNameValidation" required th:field="*{samAccountName}"
                 th:classappend="${#fields.hasErrors('samAccountName')} ? 'is-invalid' : ''"/>
          <div id="samAccountNameValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('samAccountName')} ? ${#fields.errors('samAccountName')[0]} : ''">
          </div>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox"
                 id="renameLastNameAutomatically"
                 name="renameLastNameAutomatically"
                 th:field="*{renameNamesAutomatically}"/>
          <label for="renameLastNameAutomatically" class="form-label"
                 th:text="#{user-edit.rename-names-automatically}">
            Rename names automatically
          </label>
          <div id="passwordHelp" class="form-text" th:text="#{user-edit.rename-names-automatically.help}">
            If you change the last name for example, the display name will be adjusted automatically.
          </div>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" id="enabled" name="enabled"
                 th:field="*{enabled}" />
          <label class="form-check-label" for="enabled" th:text="#{user.enabled.label}">
            Enabled
          </label>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox"
                 id="passwordExpirationEnabled" name="passwordExpirationEnabled"
                 th:field="*{passwordExpirationEnabled}" />
          <label class="form-check-label" for="passwordExpirationEnabled"
                 th:text="#{user.password-expiration-enabled.label}">
            Password expiration enabled
          </label>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox"
                 id="noExpiry"
                 name="noExpiry"
                 th:field="*{noExpiry}"/>
          <label for="noExpiry" class="form-label" th:text="#{user.no-expiry.label}">
            No expiry
          </label>
        </div>

        <div id="accountExpiresUiDiv" class="mb-3">
          <label for="accountExpiresUi" class="form-label" th:text="#{user.expiry.label}">
            Account expires
          </label>
          <input type="datetime-local" class="form-control" id="accountExpiresUi" name="accountExpiresUi"
                 aria-describedby="accountExpiresUiHelp" value=""
                 th:classappend="${#fields.hasErrors('accountExpires')} ? 'is-invalid' : ''"/>
          <div id="accountExpiresUiHelp" class="form-text" th:text="#{user.expiry.help}">
            Please enter the expiration date-time of the account.
          </div>
          <div id="accountExpiresUiValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('accountExpires')} ? ${#fields.errors('accountExpires')[0]} : ''">
          </div>
        </div>

        <div class="mb-3">
          <label for="userPrincipalName" class="form-label" th:text="#{user.principal-name.label}">
            Principal name
          </label>
          <input type="text" class="form-control" id="userPrincipalName" name="userPrincipalName"
                 aria-describedby="userPrincipalNameValidation" th:field="*{userPrincipalName}"
                 th:classappend="${#fields.hasErrors('userPrincipalName')} ? 'is-invalid' : ''"/>
          <div id="userPrincipalNameValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('userPrincipalName')} ? ${#fields.errors('userPrincipalName')[0]} : ''">
          </div>
        </div>

        <div class="mb-3">
          <label for="primaryGroupId" class="form-label" th:text="#{common.primary-group.label}">
            Primary group
          </label>
          <select id="primaryGroupId" class="form-select" aria-label="Primary group"
                  aria-describedby="primaryGroupIdValidation"
                  th:classappend="${#fields.hasErrors('primaryGroupId')} ? 'is-invalid' : ''"
                  th:field="*{primaryGroupId}">
            <option th:each="o : ${groups}" th:value="${o.groupId}" th:text="${o.samAccountName}">
              Domain Group
            </option>
          </select>
          <div id="primaryGroupIdValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('primaryGroupId')} ? ${#fields.errors('primaryGroupId')[0]} : ''">
          </div>
        </div>

        <div class="mb-3">
          <label for="firstName" class="form-label" th:text="#{user.first-name.label}">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName"
                 aria-describedby="firstNameValidation" th:field="*{firstName}"
                 th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''"/>
          <div id="firstNameValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('firstName')} ? ${#fields.errors('firstName')[0]} : ''">
          </div>
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label" th:text="#{user.last-name.label}">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName"
                 aria-describedby="lastNameValidation" th:field="*{lastName}"
                 th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''"/>
          <div id="lastNameValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('lastName')} ? ${#fields.errors('lastName')[0]} : ''">
          </div>
        </div>

        <div class="mb-3">
          <label for="displayName" class="form-label" th:text="#{user.display-name.label}">Display Name</label>
          <input type="text" class="form-control" id="displayName" name="displayName"
                 th:field="*{displayName}" />
        </div>

        <div class="mb-3" th:if="${properties.user.initialsDisplayed}">
          <label for="initials" class="form-label" th:text="#{user.initials.label}">Initials</label>
          <input type="text" class="form-control" id="initials" name="initials"
                 th:field="*{initials}" />
        </div>

        <div class="mb-3">
          <label for="preferredLanguage" class="form-label" th:text="#{user.preferred-language.label}">
            Preferred language
          </label>
          <input type="text" class="form-control" id="preferredLanguage" name="preferredLanguage"
                 aria-describedby="preferredLanguageHelp" th:field="*{preferredLanguage}"
                 th:classappend="${#fields.hasErrors('preferredLanguage')} ? 'is-invalid' : ''"/>
          <div id="preferredLanguageHelp" class="form-text" th:text="#{user.preferred-language.help}">
            User's preferred language. ISO 639-1 language codes. The combinations like de-DE and
            en-US with ISO-639 and ISO-3166 also work.
          </div>
          <div id="preferredLanguageValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('preferredLanguage')} ? ${#fields.errors('preferredLanguage')[0]} : ''">
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label" th:text="#{common.email.label}">Email</label>
          <input type="email" class="form-control" id="email" name="email"
                 aria-describedby="emailValidation" th:field="*{email}"
                 th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"/>
          <div id="emailValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('email')} ? ${#fields.errors('email')[0]} : ''">
          </div>
        </div>

        <div class="mb-3" th:if="${properties.user.mobilePhoneNumberDisplayed}">
          <label for="mobile" class="form-label" th:text="#{user.mobile-phone-number.label}">
            Mobile phone number
          </label>
          <input type="text" class="form-control" id="mobile" name="mobile"
                 th:field="*{mobile}" />
        </div>

        <div class="mb-3" th:if="${properties.user.telephoneNumberDisplayed}">
          <label for="telephoneNumber" class="form-label" th:text="#{user.telephone-number.label}">
            Telephone number
          </label>
          <input type="text" class="form-control" id="telephoneNumber" name="telephoneNumber"
                 th:field="*{telephoneNumber}" />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label" th:text="#{common.description.label}">Description</label>
          <input type="text" class="form-control" id="description" name="description"
                 th:field="*{description}" />
        </div>

        <div class="mb-3" th:if="${properties.user.homeDirectoryDisplayed}">
          <label for="homeDirectory" class="form-label" th:text="#{user.home-directory.label}">Home directory</label>
          <input type="text" class="form-control" id="homeDirectory" name="homeDirectory"
                 th:field="*{homeDirectory}" />
        </div>

        <div class="mb-3" th:if="${properties.user.homeDriveDisplayed}">
          <label for="homeDrive" class="form-label" th:text="#{user.home-drive.label}">Home Drive Letter</label>
          <input type="text" class="form-control" id="homeDrive" name="homeDrive"
                 th:field="*{homeDrive}" />
        </div>

        <div class="mb-3" th:if="${properties.user.profilePathDisplayed}">
          <label for="profilePath" class="form-label" th:text="#{user.profile-path.label}">Profile path</label>
          <input type="text" class="form-control" id="profilePath" name="profilePath"
                 th:field="*{profilePath}" />
        </div>

        <div class="mb-3" th:if="${properties.user.scriptPathDisplayed}">
          <label for="scriptPath" class="form-label" th:text="#{user.script-path.label}">Logon script path</label>
          <input type="text" class="form-control" id="scriptPath" name="scriptPath"
                 th:field="*{scriptPath}" />
        </div>

        <div class="mb-3" th:if="${properties.user.companyDisplayed}">
          <label for="company" class="form-label" th:text="#{user.company.label}">Company</label>
          <input type="text" class="form-control" id="company" name="company"
                 th:field="*{company}" />
        </div>

        <div class="mb-3" th:if="${properties.user.jobTitleDisplayed}">
          <label for="title" class="form-label" th:text="#{user.job-title.label}">Job title</label>
          <input type="text" class="form-control" id="title" name="title"
                 th:field="*{title}" />
        </div>

        <div class="mb-3" th:if="${properties.user.departmentDisplayed}">
          <label for="department" class="form-label" th:text="#{user.department.label}">Department</label>
          <input type="text" class="form-control" id="department" name="department"
                 th:field="*{department}" />
        </div>

        <div class="mb-3" th:if="${properties.user.physicalDeliveryOfficeNameDisplayed}">
          <label for="physicalDeliveryOfficeName" class="form-label" th:text="#{user.office-location.label}">
            Office location
          </label>
          <input type="text" class="form-control" id="physicalDeliveryOfficeName"
                 name="physicalDeliveryOfficeName" th:field="*{physicalDeliveryOfficeName}" />
        </div>

        <div th:if="${rfc2307Enabled}">
          <div class="mb-3">
            <label for="uid" class="form-label" th:text="#{user.uid.label}">User's Unix/RFC2307 username</label>
            <input type="text" class="form-control" id="uid" name="uid"
                   aria-describedby="uidValidation" th:field="*{uid}"
                   th:classappend="${#fields.hasErrors('uid')} ? 'is-invalid' : ''"/>
            <div id="uidValidation" class="invalid-feedback"
                 th:text="${#fields.hasErrors('uid')} ? ${#fields.errors('uid')[0]} : ''">
            </div>
          </div>

          <div class="mb-3">
            <label for="uidNumber" class="form-label" th:text="#{user.uid-number.label}">
              User's Unix/RFC2307 UID number
            </label>
            <input type="text" class="form-control" id="uidNumber" name="uidNumber"
                   aria-describedby="uidNumberValidation" th:field="*{uidNumber}"
                   th:classappend="${#fields.hasErrors('uidNumber')} ? 'is-invalid' : ''"/>
            <div id="uidNumberValidation" class="invalid-feedback"
                 th:text="${#fields.hasErrors('uidNumber')} ? ${#fields.errors('uidNumber')[0]} : ''">
            </div>
          </div>

          <div class="mb-3">
            <label for="gidNumber" class="form-label" th:text="#{user.gid-number.label}">
              User's Unix/RFC2307 primary group ID
            </label>
            <input type="number" class="form-control" id="gidNumber"
                   name="gidNumber" th:field="*{gidNumber}" />
          </div>

          <div class="mb-3">
            <label for="loginShell" class="form-label" th:text="#{user.login-shell.label}">
              User's Unix/RFC2307 login shell
            </label>
            <input type="text" class="form-control" id="loginShell" name="loginShell"
                   th:field="*{loginShell}" />
          </div>

          <div class="mb-3">
            <label for="unixHomeDirectory" class="form-label" th:text="#{user.unix-home-directory.label}">
              User's Unix/RFC2307 home directory
            </label>
            <input type="text" class="form-control" id="unixHomeDirectory" name="unixHomeDirectory"
                   th:field="*{unixHomeDirectory}" />
          </div>

          <div class="mb-3">
            <label for="gecos" class="form-label" th:text="#{user.gecos.label}">
              User's Unix/RFC2307 GECOS field
            </label>
            <input type="text" class="form-control" id="gecos" name="gecos"
                   th:field="*{gecos}" />
          </div>

          <div class="mb-3">
            <label for="nisDomain" class="form-label" th:text="#{user.nis-domain.label}">
              User's Unix/RFC2307 NIS domain
            </label>
            <input type="text" class="form-control" id="nisDomain"
                   name="nisDomain" th:field="*{nisDomain}" />
          </div>
        </div> <!-- end of rfc2307Enabled -->

        <button type="submit" class="btn btn-primary mt-3 mb-5" th:text="#{common.save}">
          Update
        </button>
        <a href="users.html" th:href="@{users(page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}"
           class="btn btn-secondary ml-3 mt-3 mb-5" th:text="#{common.cancel}">
          Cancel
        </a>
      </form>
    </div>
  </div>
</main>
<script type="text/javascript" th:inline="javascript">
  //<![CDATA[
  "use strict";
  function convertNumber(n) {
    let s = '' + n;
    if (s.length < 2) {
      s = '0' + s;
    }
    return s;
  }

  function convertToLocalDateTime(isoValue) {
    console.log("Converting " + isoValue);
    if (typeof isoValue === 'string' && isoValue !== '') {
      const dt = isoValue === "" ? new Date() : new Date(isoValue);
      const r =  dt.getFullYear() + "-" + convertNumber(dt.getMonth() + 1) + "-" + convertNumber(dt.getDate())
          + "T" + convertNumber(dt.getHours()) + ":" + convertNumber(dt.getMinutes());
      console.log(isoValue + " -> " + r);
      return r;
    }
    return "";
  }

  $(document).ready(function () {
    const loadingSpinnerModal = new bootstrap.Modal('#loadingSpinnerModal');
    $('a.show-spinner').on('click', function () {
      loadingSpinnerModal.show();
    });
    $( globalThis ).on('pageshow', function () {
      loadingSpinnerModal.hide();
    });

    const accountExpiresUiIsoValue = /*[[${editModel.accountExpiresIso}]]*/ "";
    const accountExpiresUi = $('#accountExpiresUi');
    const accountExpires = $('#accountExpires');
    const noExpiry = /*[[${editModel.noExpiry}]]*/ true;
    accountExpiresUi.prop('readonly', noExpiry);
    accountExpiresUi.prop('disabled', noExpiry);
    if (!noExpiry) {
      accountExpiresUi.val(convertToLocalDateTime(accountExpiresUiIsoValue));
    }
    accountExpiresUi.on("change", function () {
      const v = $(this).val();
      if (typeof v === 'string' && v !== '') {
        console.log("Input = " + v);
        const d = new Date(v).toISOString();
        console.log("Iso = " + d);
        accountExpires.val(d);
      } else {
        accountExpires.val('');
      }
    });
    $('#noExpiry').on("change", function () {
      const checkbox = $(this);
      if (checkbox.is(':checked')) {
        accountExpiresUi.prop('readonly', true);
        accountExpiresUi.prop('disabled', true);
        accountExpiresUi.val('');
        accountExpires.val('');
      } else {
        accountExpiresUi.prop('readonly', false);
        accountExpiresUi.prop('disabled', false);
        if (accountExpiresUi.val() === '') {
          const v = convertToLocalDateTime(accountExpiresUiIsoValue);
          accountExpiresUi.val(v);
          accountExpires.val(new Date(v).toISOString());
        }
      }
    });

    const avatarImage = document.getElementById("avatarImage");
    const avatarInput = document.getElementById("newAvatar");
    avatarInput.onchange = function(event) {
      const fileInput = event.target;
      if (fileInput.files && fileInput.files[0]) {
        const reader = new FileReader();
        reader.onload = function(e) {
          avatarImage.src = e.target.result;
        };
        reader.readAsDataURL(fileInput.files[0]);
      }
    }
  });
  //]]>
</script>
</body>
</html>