<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Edit dns entry</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../../static/lib/jquery-typewatch.js"
          th:src="@{/lib/jquery-typewatch.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div th:replace="~{fragments/loading-spinner :: loading-spinner}"></div>

  <!--suppress ThymeleafVariablesResolveInspection -->
  <div th:if="${rmsg != null}"
       class="alert alert-success"
       th:class="${rmsg != null} ? ${rmsg.msgType.cssClass} : ''" role="alert"
       th:text="${rmsg != null} ? ${rmsg.msg} : ''">
    Status message
  </div>

  <div class="row mb-4">
    <div class="col-1">
      <a class="btn btn-outline-secondary show-spinner" href="dns-zone-entries.html"
         th:href="@{dns-zone-entries(zone-type=${zoneType},zone-name=${dnsEntry.zoneName},page=${page},size=${size},sort=${sort},q=${q})}">
        <span class="fa fa-backward"></span>
      </a>
    </div>
    <div class="col">
      <div class="container">
        <div class="d-flex justify-content-center">
          <h3 class="small">Resolve conflicts of dns entry</h3>
        </div>
        <div class="d-flex justify-content-center">
          <h3 th:text="${dnsEntry.displayName}">zander</h3>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="mx-0 mx-sm-1 mx-md-3">
    <div class="mb-4 p-3 border border-1 border-danger">
      <div class="h5 mb-3">
        <div>This dns entry is marked as conflict.</div>
      </div>
      <div class="row">
        <div class="col col-3 col-sm-2 col-md-2 col-lg-1 me-1">
          <span>Name</span>:
        </div>
        <div class="col col-auto">
          <span class="me-1" th:text="${dnsEntry.displayName}">zander</span>
          <a id="copyNameToClipboard" href="#">
            <span class="fas fa-clipboard" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class="small text-secondary">
        <div class="row">
          <div class="col col-3 col-sm-2 col-md-2 col-lg-1 me-1">
            Type:
          </div>
          <div class="col col-auto" th:text="${dnsEntry.type}">
            A
          </div>
        </div>
        <div class="row">
          <div class="col col-3 col-sm-2 col-md-2 col-lg-1 me-1">
            Value:
          </div>
          <div class="col col-auto" th:text="${dnsEntry.value}">
            192.168.1.112
          </div>
        </div>
        <div class="row">
          <div class="col col-3 col-sm-2 col-md-2 col-lg-1 me-1">
            Created:
          </div>
          <div class="col col-auto" th:text="${#temporals.format(dnsEntry.created, #locale)}">
            2014-11-23
          </div>
        </div>
        <div class="row">
          <div class="col col-3 col-sm-2 col-md-2 col-lg-1 me-1">
            Modified:
          </div>
          <div class="col col-auto" th:text="${#temporals.format(dnsEntry.modified, #locale)}">
            2014-11-23
          </div>
        </div>
      </div>
      <div class="mt-3">
        <form id="dnsEntryConflictForm" th:action="@{dns-entry-conflict}" action="#" method="post"
              th:object="${dnsEntryDeleteRequest}">
          <input type="hidden" name="page" th:value="${page}"/>
          <input type="hidden" name="size" th:value="${size}"/>
          <input type="hidden" name="sort" th:value="${sort}"/>
          <input type="hidden" name="q" th:value="${q}"/>

          <input type="hidden" name="zone-type" th:value="${zoneType}"/>
          <input type="hidden" name="zone-name" th:value="${dnsEntry.zoneName}"/>
          <input type="hidden" name="name" th:value="${dnsEntry.name}"/>
          <input type="hidden" name="type" th:value="${dnsEntry.type}"/>
          <input type="hidden" name="value" th:value="${dnsEntry.value}"/>

          <div>
            <input type="text" class="form-control" id="verificationName" name="verificationName"
                   aria-describedby="verificationNameValidation" required
                   th:classappend="${#fields.hasErrors('verificationName')} ? 'is-invalid' : ''"
                   th:field="*{verificationName}" />
            <div>
              <label for="verificationName" id="verificationNameHelp" class="form-text">
                Please enter the dns entry name for deletion.
              </label>
            </div>
            <div id="verificationNameValidation" class="invalid-feedback"
                 th:text="${#fields.hasErrors('verificationName')} ? ${#fields.errors('verificationName')[0]} : ''">
            </div>
            <div>
              <button type="submit" class="btn btn-danger mt-3 show-spinner">
                Delete
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div th:if="${not #lists.isEmpty(dnsEntries)}">
      <div class="h5 mb-2">
        <span>It may have conflicts with</span>:
      </div>
      <div class="list-group list-group-flush">
        <a th:each="entry,iter : ${dnsEntries}"
           target="_blank" href="dns-entry-edit.html"
           th:href="@{dns-entry-edit(zone-type=${zoneType},zone-name=${dnsEntry.zoneName},name=${entry.name},type=${entry.type},value=${entry.value},page=${page},size=${size},sort=${sort},q=${q})}"
           class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col col-3 col-sm-2 col-md-2 col-lg-1 me-1">
              <span>Name</span>:
            </div>
            <div class="col col-auto" th:text="${entry.displayName}">
              zander
            </div>
          </div>
          <div class="small text-secondary">
            <div class="row">
              <div class="col col-3 col-sm-2 col-md-2 col-lg-1 me-1">
                Type:
              </div>
              <div class="col col-auto" th:text="${entry.type}">
                A
              </div>
            </div>
            <div class="row">
              <div class="col col-3 col-sm-2 col-md-2 col-lg-1 me-1">
                Value:
              </div>
              <div class="col col-auto" th:text="${entry.value}">
                192.168.1.112
              </div>
            </div>
            <div class="row">
              <div class="col col-3 col-sm-2 col-md-2 col-lg-1 me-1">
                Created:
              </div>
              <div class="col col-auto" th:text="${#temporals.format(entry.created, #locale)}">
                2014-11-23
              </div>
            </div>
            <div class="row">
              <div class="col col-3 col-sm-2 col-md-2 col-lg-1 me-1">
                Modified:
              </div>
              <div class="col col-auto" th:text="${#temporals.format(entry.modified, #locale)}">
                2014-11-23
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</main>
<script type="text/javascript" th:inline="javascript">
  //<![CDATA[
  "use strict";
  $(document).ready(function () {
    $('#copyNameToClipboard').on('click', function () {
      const name = /*[[${dnsEntry.displayName}]]*/ "static-name";
      navigator.clipboard.writeText(name);
    });
    const loadingSpinnerModal = new bootstrap.Modal('#loadingSpinnerModal');
    $('a.show-spinner').on('click', function () {
      loadingSpinnerModal.show();
    });
    $('#dnsEntryConflictForm').on('submit', function () {
      loadingSpinnerModal.show();
    });
  });
  //]]>
</script>
</body>
</html>