<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Dns Zones</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../../static/lib/jquery-typewatch.js"
          th:src="@{/lib/jquery-typewatch.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div th:replace="~{fragments/loading-spinner :: loading-spinner}"></div>

  <div class="row mb-4">
    <div class="col-1">
      <a class="btn btn-outline-secondary" href="home.html"
         th:href="@{../admin}">
        <span class="fa fa-backward"></span>
      </a>
    </div>
    <div class="col">
      <div class="container">
        <div class="d-flex justify-content-center">
          <h3 th:text="#{${zoneTypeDropdown.selectedZoneType.i18nCode}}">Primary Zones</h3>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <!--suppress ThymeleafVariablesResolveInspection -->
  <div th:if="${rmsg != null}"
       class="alert alert-success"
       th:class="${rmsg != null} ? ${rmsg.msgType.cssClass} : ''" role="alert"
       th:text="${rmsg != null} ? ${rmsg.msg} : ''">
    Status message
  </div>

  <div class="mb-3 p-3 border border-1">
    <div class="row justify-content-between">
      <div class="col col-auto">
      </div>
      <div class="col col-auto mt-sm-2 mt-md-0">
        <a id="addZone" href="dns-zone-create.html" title="Add zone" class="btn btn-outline-primary"
           th:href="@{dns-zone-create}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>

  <div th:if="${#lists.isEmpty(dnsZoneNames)}"
       class="alert alert-info" role="alert">
    No dns zones were found.
  </div>

  <div id="content-list" class="list-group list-group-flush" th:if="${not #lists.isEmpty(dnsZoneNames)}">
    <a th:each="zoneName : ${dnsZoneNames}" href="#"
       th:href="@{dns-zone-entries(zone-name=${zoneName},zone-type=${zoneTypeDropdown.selectedZoneType.parameterValue})}"
       class="list-group-item list-group-item-action show-spinner">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1"
            th:text="${zoneName}">
          intranet
        </h6>
        <span class="fa-solid fa-globe" aria-hidden="true"></span>
      </div>
    </a>
  </div>

</main>
<script type="text/javascript" th:inline="javascript">
  //<![CDATA[
  "use strict";
  $(document).ready(function () {
    const loadingSpinnerModal = new bootstrap.Modal('#loadingSpinnerModal');
    $('a.show-spinner').on('click', function () {
      loadingSpinnerModal.show();
    });
  });
  //]]>
</script>
</body>
</html>