<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Edit dns entry</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../../static/lib/jquery-typewatch.js"
          th:src="@{/lib/jquery-typewatch.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div th:replace="~{fragments/loading-spinner :: loading-spinner}"></div>

  <!--suppress ThymeleafVariablesResolveInspection -->
  <div th:if="${rmsg != null}"
       class="alert alert-success"
       th:class="${rmsg != null} ? ${rmsg.msgType.cssClass} : ''" role="alert"
       th:text="${rmsg != null} ? ${rmsg.msg} : ''">
    Status message
  </div>

  <div class="row mb-4">
    <div class="col-1">
      <a class="btn btn-outline-secondary show-spinner" href="dns-zone-entries.html"
         th:href="@{dns-zone-entries(zone-type=${zoneType},zone-name=${dnsEntry.zoneName},page=${page},size=${size},sort=${sort},q=${q})}">
        <span class="fa fa-backward"></span>
      </a>
    </div>
    <div class="col">
      <div class="container">
        <div class="d-flex justify-content-center">
          <h3 class="small">DNS entry</h3>
        </div>
        <div class="d-flex justify-content-center">
          <h3 th:text="${dnsEntry.name}">zander</h3>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">
        <span class="fa fa-edit" aria-hidden="true"></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link show-spinner" href="dns-entry-delete.html"
         th:classappend="${dnsEntry.type.name() == 'SOA'} ? 'disabled' : ''"
         th:attr="aria-disabled=${dnsEntry.type.name() == 'SOA'}"
         th:href="@{dns-entry-delete(zone-type=${zoneType},zone-name=${dnsEntry.zoneName},name=${dnsEntry.name},type=${dnsEntry.type},value=${dnsEntry.value},page=${page},size=${size},sort=${sort},q=${q})}">
        <span class="fa fa-trash-alt" aria-hidden="true"></span>
      </a>
    </li>
  </ul>

  <div class="mx-0 mx-sm-1 mx-md-3">
    <form id="editDnsEntryForm" th:action="@{dns-entry-edit}" th:object="${dnsEntryEditRequest}"
          action="#" method="post">
      <input type="hidden" name="page" th:value="${page}"/>
      <input type="hidden" name="size" th:value="${size}"/>
      <input type="hidden" name="sort" th:value="${sort}"/>
      <input type="hidden" name="q" th:value="${q}"/>

      <input type="hidden" name="zone-type" th:value="${zoneType}"/>
      <input type="hidden" name="zone-name" th:value="${dnsEntry.zoneName}"/>
      <input type="hidden" name="name" th:value="${dnsEntry.name}"/>
      <input type="hidden" name="type" th:value="${dnsEntry.type}"/>
      <input type="hidden" name="value" th:value="${dnsEntry.value}"/>

      <div class="mb-3" th:if="${dnsEntry.type.name() == 'SOA'}">
        <div class="form-label">Name</div>
        <div class="form-control text-secondary" th:text="${dnsEntry.name}">
          zander
        </div>
        <input type="hidden" th:field="*{newName}">
      </div>
      <div class="mb-3" th:if="${dnsEntry.type.name() != 'SOA'}">
        <label for="newName" class="form-label">Name</label>
        <input type="text" class="form-control" id="newName" name="newName"
               aria-describedby="newNameValidation" required
               th:field="*{newName}"
               th:classappend="${#fields.hasErrors('newName')} ? 'is-invalid' : ''"/>
        <div id="newNameValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('newName')} ? ${#fields.errors('newName')[0]} : ''">
        </div>
      </div>

      <div class="mb-3" th:if="${dnsEntry.type.name() == 'SOA'}">
        <div class="form-label">Type</div>
        <div class="form-control text-secondary" th:text="${dnsEntry.type}">
          A
        </div>
        <input type="hidden" th:field="*{newType}">
      </div>
      <div class="mb-3" th:if="${dnsEntry.type.name() != 'SOA'}">
        <label for="newType" class="form-label">Type</label>
        <select id="newType" class="form-select" aria-label="Dns entry types"
                aria-describedby="newTypeValidation" required
                th:classappend="${#fields.hasErrors('newType')} ? 'is-invalid' : ''"
                th:field="*{newType}">
          <option th:each="o : ${types}" th:value="${o}" th:text="${o}">
            AAAA
          </option>
        </select>
        <div id="newTypeValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('newType')} ? ${#fields.errors('newType')[0]} : ''">
        </div>
      </div>

      <div class="mb-3">
        <label for="newValue" class="form-label">Value</label>
        <input type="text" class="form-control" id="newValue" name="newValue"
               aria-describedby="newValueValidation" required
               th:classappend="${#fields.hasErrors('newValue')} ? 'is-invalid' : ''"
               th:field="*{newValue}" />
        <div id="newValueValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('newValue')} ? ${#fields.errors('newValue')[0]} : ''">
        </div>
      </div>

      <div class="mb-3">
        <div class="form-label">Flags</div>
        <div class="form-control text-secondary" th:text="${dnsEntry.flags}">
          Flag
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Serial</div>
        <div class="form-control text-secondary" th:text="${dnsEntry.serial}">
          100
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">TTL (seconds)</div>
        <div class="form-control text-secondary" th:text="${dnsEntry.ttlSeconds}">
          600
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Created</div>
        <div class="form-control text-secondary" th:text="${#temporals.format(dnsEntry.created, #locale)}">
          25-10-2014 13:54:46
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Modified</div>
        <div class="form-control text-secondary" th:text="${#temporals.format(dnsEntry.modified, #locale)}">
          25-10-2014 13:54:46
        </div>
      </div>

      <div id="reverseDnsEntryEditDiv" class="mt-4 mb-3 p-3 border border-1 border-secondary"
           th:if="${reverseDnsEntryExists}">
        <input type="hidden" name="reverse-zone-name" th:value="${reverseDnsEntry.zoneName}"/>
        <input type="hidden" name="reverse-name" th:value="${reverseDnsEntry.name}"/>
        <input type="hidden" name="reverse-type" th:value="${reverseDnsEntry.type}"/>
        <input type="hidden" name="reverse-value" th:value="${reverseDnsEntry.value}"/>
        <div class="h5 mb-3">
          <span>Reverse dns entry </span>
        </div>
        <div class="mb-3">
          <label for="newNameOfReverseEntry" class="form-label">Name</label>
          <input type="text" class="form-control" id="newNameOfReverseEntry" name="newNameOfReverseEntry"
                 aria-describedby="newNameOfReverseEntryValidation" required
                 th:field="*{newNameOfReverseEntry}"
                 th:classappend="${#fields.hasErrors('newNameOfReverseEntry')} ? 'is-invalid' : ''"/>
          <div id="newNameOfReverseEntryValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('newNameOfReverseEntry')} ? ${#fields.errors('newNameOfReverseEntry')[0]} : ''">
          </div>
        </div>
        <div class="mb-3">
          <label for="newValueOfReverseEntry" class="form-label">Value</label>
          <input type="text" class="form-control" id="newValueOfReverseEntry" name="newValueOfReverseEntry"
                 aria-describedby="newValueOfReverseEntryValidation" required
                 th:classappend="${#fields.hasErrors('newValueOfReverseEntry')} ? 'is-invalid' : ''"
                 th:field="*{newValueOfReverseEntry}" />
          <div id="newValueOfReverseEntryValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('newValueOfReverseEntry')} ? ${#fields.errors('newValueOfReverseEntry')[0]} : ''">
          </div>
        </div>
        <div class="mb-3">
          <div class="form-label">Created</div>
          <div class="form-control text-secondary" th:text="${#temporals.format(reverseDnsEntry.created, #locale)}">
            25-10-2014 13:54:46
          </div>
        </div>
        <div class="mb-3">
          <div class="form-label">Modified</div>
          <div class="form-control text-secondary" th:text="${#temporals.format(reverseDnsEntry.modified, #locale)}">
            25-10-2014 13:54:46
          </div>
        </div>
        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" role="switch" id="updateReverseEntry"
                 name="updateReverseEntry" th:field="*{updateReverseEntry}" />
          <label class="form-check-label" for="updateReverseEntry">
            Also update reverse entry
          </label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-1 mb-4 show-spinner">
        Update
      </button>
      <a href="dns-zone-entries.html"
         th:href="@{dns-zone-entries(zone-type=${zoneType},zone-name=${dnsEntry.zoneName},page=${page},size=${size},sort=${sort},q=${q})}"
         class="btn btn-secondary mx-2 mt-1 mb-4 show-spinner" role="button">
        Cancel
      </a>
    </form>
  </div>

</main>
<script type="text/javascript" th:inline="javascript">
  //<![CDATA[
  "use strict";
  $(document).ready(function () {
    const reverseDnsEntryExists = /*[[${reverseDnsEntryExists}]]*/ false;
    const dnsEntryType =  /*[[${dnsEntry.type}]]*/ "";
    if (reverseDnsEntryExists) {
      const reverseDnsEntryEditDiv = $('#reverseDnsEntryEditDiv');
      $('#newType').on('change', function () {
        if (dnsEntryType === $(this).val()) {
          reverseDnsEntryEditDiv.show();
        } else {
          reverseDnsEntryEditDiv.hide();
        }
      });
    }

    const loadingSpinnerModal = new bootstrap.Modal('#loadingSpinnerModal');
    $('a.show-spinner').on('click', function () {
      loadingSpinnerModal.show();
    });
    $('#editDnsEntryForm').on('submit', function () {
      loadingSpinnerModal.show();
    });
  });
  //]]>
</script>
</body>
</html>