<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Users</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div th:replace="~{fragments/loading-spinner :: loading-spinner}"></div>

  <div class="row mb-4">
    <div class="col-1">
      <a class="btn btn-outline-secondary" href="users.html"
         th:href="@{users(page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
        <span class="fa fa-backward"></span>
      </a>
    </div>
    <div class="col d-flex justify-content-center">
      <h3>Add user</h3>
    </div>
    <div class="col-1"></div>
  </div>

  <div>
    <form th:action="@{user-add}" th:object="${userAddRequest}" action="#" method="post">
      <input type="hidden" name="page" th:value="${page}"/>
      <input type="hidden" name="size" th:value="${size}"/>
      <input type="hidden" name="sort" th:value="${sort}"/>
      <input type="hidden" name="q" th:value="${q}"/>
      <input type="hidden" name="ou" th:value="${ou}"/>
      <input type="hidden" name="scope" th:value="${scope}"/>

      <div class="mb-3">
        <label for="newOu" class="form-label">Organizational Unit</label>
        <select id="newOu" class="form-select" aria-label="Organizational Unit"
                aria-describedby="newOuValidation"
                th:classappend="${#fields.hasErrors('newOu')} ? 'is-invalid' : ''"
                th:field="*{newOu}">
          <option th:each="o : ${ous}" th:value="${o.distinguishedName}" th:text="${o.nameTree}">
            Users
          </option>
        </select>
        <div id="newOuValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('newOu')} ? ${#fields.errors('newOu')[0]} : ''">
        </div>
      </div>

      <div class="mb-3">
        <label for="samAccountName" class="form-label">Username</label>
        <input type="text" class="form-control" id="samAccountName" name="samAccountName"
               aria-describedby="samAccountNameValidation" required th:field="*{samAccountName}"
               th:classappend="${#fields.hasErrors('samAccountName')} ? 'is-invalid' : ''"/>
        <div id="samAccountNameValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('samAccountName')} ? ${#fields.errors('samAccountName')[0]} : ''">
        </div>
      </div>

      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" role="switch" id="useUsernameAsCn"
               name="useUsernameAsCn" th:field="*{useUsernameAsCn}" />
        <label class="form-check-label" for="useUsernameAsCn">
          Use username as CN
        </label>
      </div>

      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" role="switch" id="enabled" name="enabled"
               th:field="*{enabled}" />
        <label class="form-check-label" for="enabled" th:text="#{i18n.enabled}">
          Enabled
        </label>
      </div>

      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" role="switch"
               id="passwordExpirationEnabled" name="passwordExpirationEnabled"
               th:field="*{passwordExpirationEnabled}" />
        <label class="form-check-label" for="passwordExpirationEnabled">
          Password expiration enabled
        </label>
      </div>

      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName"
               aria-describedby="firstNameValidation" th:field="*{firstName}"
               th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''"/>
        <div id="firstNameValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('firstName')} ? ${#fields.errors('firstName')[0]} : ''">
        </div>
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName"
               aria-describedby="lastNameValidation" th:field="*{lastName}"
               th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''"/>
        <div id="lastNameValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('lastName')} ? ${#fields.errors('lastName')[0]} : ''">
        </div>
      </div>

      <div class="mb-3">
        <label for="displayName" class="form-label">Display Name</label>
        <input type="text" class="form-control" id="displayName" name="displayName"
               th:field="*{displayName}" />
      </div>

      <div class="mb-3">
        <label for="initials" class="form-label">Initials</label>
        <input type="text" class="form-control" id="initials" name="initials"
               th:field="*{initials}" />
      </div>

      <div class="mb-3">
        <label for="preferredLanguage" class="form-label">Preferred language</label>
        <input type="text" class="form-control" id="preferredLanguage" name="preferredLanguage"
               aria-describedby="preferredLanguageValidation" th:field="*{preferredLanguage}"
               th:classappend="${#fields.hasErrors('preferredLanguage')} ? 'is-invalid' : ''"/>
        <div id="preferredLanguageHelp" class="form-text">
          User's preferred language. ISO 639-1 language codes. The combinations like de-DE and
          en-US with ISO-639 and ISO-3166 also work.
        </div>
        <div id="preferredLanguageValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('preferredLanguage')} ? ${#fields.errors('preferredLanguage')[0]} : ''">
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email"
               aria-describedby="emailValidation" th:field="*{email}"
               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"/>
        <div id="emailValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('email')} ? ${#fields.errors('email')[0]} : ''">
        </div>
      </div>

      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" role="switch" id="sendEmail"
               name="sendEmail" th:field="*{sendEmail}" />
        <label class="form-check-label" for="sendEmail">
          Send an invitation email with a random password
        </label>
      </div>

      <div class="mb-3">
        <label for="mobile" class="form-label">Mobile phone number</label>
        <input type="text" class="form-control" id="mobile" name="mobile"
               th:field="*{mobile}" />
      </div>

      <div class="mb-3">
        <label for="telephoneNumber" class="form-label">Telephone number</label>
        <input type="text" class="form-control" id="telephoneNumber" name="telephoneNumber"
               th:field="*{telephoneNumber}" />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description"
               th:field="*{description}" />
      </div>

      <div class="mb-3">
        <label for="homeDirectory" class="form-label">Home directory</label>
        <input type="text" class="form-control" id="homeDirectory" name="homeDirectory"
               th:field="*{homeDirectory}" />
      </div>

      <div class="mb-3">
        <label for="homeDrive" class="form-label">Home Drive Letter</label>
        <input type="text" class="form-control" id="homeDrive" name="homeDrive"
               th:field="*{homeDrive}" />
      </div>

      <div class="mb-3">
        <label for="profilePath" class="form-label">Profile path</label>
        <input type="text" class="form-control" id="profilePath" name="profilePath"
               th:field="*{profilePath}" />
      </div>

      <div class="mb-3">
        <label for="scriptPath" class="form-label">Logon script path</label>
        <input type="text" class="form-control" id="scriptPath" name="scriptPath"
               th:field="*{scriptPath}" />
      </div>

      <div class="mb-3">
        <label for="company" class="form-label">Company</label>
        <input type="text" class="form-control" id="company" name="company"
               th:field="*{company}" />
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">Job title</label>
        <input type="text" class="form-control" id="title" name="title"
               th:field="*{title}" />
      </div>

      <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <input type="text" class="form-control" id="department" name="department"
               th:field="*{department}" />
      </div>

      <div class="mb-3">
        <label for="physicalDeliveryOfficeName" class="form-label">
          Office location
        </label>
        <input type="text" class="form-control" id="physicalDeliveryOfficeName"
               name="physicalDeliveryOfficeName" th:field="*{physicalDeliveryOfficeName}" />
      </div>

      <div th:if="${rfc2307Enabled}">
        <div class="mb-3">
          <label for="uid" class="form-label">User's Unix/RFC2307 username</label>
          <input type="text" class="form-control" id="uid" name="uid"
                 aria-describedby="uidValidation" th:field="*{uid}"
                 th:classappend="${#fields.hasErrors('uid')} ? 'is-invalid' : ''"/>
          <div id="uidValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('uid')} ? ${#fields.errors('uid')[0]} : ''">
          </div>
        </div>

        <div class="mb-3">
          <label for="uidNumber" class="form-label">User's Unix/RFC2307 UID number</label>
          <input type="text" class="form-control" id="uidNumber" name="uidNumber"
                 aria-describedby="uidNumberValidation" th:field="*{uidNumber}"
                 th:classappend="${#fields.hasErrors('uidNumber')} ? 'is-invalid' : ''"/>
          <div id="uidNumberValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('uidNumber')} ? ${#fields.errors('uidNumber')[0]} : ''">
          </div>
        </div>

        <div class="mb-3">
          <label for="gidNumber" class="form-label">
            User's Unix/RFC2307 primary group ID
          </label>
          <input type="number" class="form-control" id="gidNumber"
                 name="gidNumber" th:field="*{gidNumber}" />
        </div>

        <div class="mb-3">
          <label for="loginShell" class="form-label">User's Unix/RFC2307 login shell</label>
          <input type="text" class="form-control" id="loginShell" name="loginShell"
                 th:field="*{loginShell}" />
        </div>

        <div class="mb-3">
          <label for="unixHomeDirectory" class="form-label">
            User's Unix/RFC2307 home directory
          </label>
          <input type="text" class="form-control" id="unixHomeDirectory" name="unixHomeDirectory"
                 th:field="*{unixHomeDirectory}" />
        </div>

        <div class="mb-3">
          <label for="gecos" class="form-label">
            User's Unix/RFC2307 GECOS field
          </label>
          <input type="text" class="form-control" id="gecos" name="gecos"
                 th:field="*{gecos}" />
        </div>

        <div class="mb-3">
          <label for="nisDomain" class="form-label">
            User's Unix/RFC2307 NIS domain
          </label>
          <input type="text" class="form-control" id="nisDomain"
                 name="nisDomain" th:field="*{nisDomain}" />
        </div>
      </div> <!-- end of rfc2307Enabled -->

      <div id="passwordDiv" class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password"
               aria-describedby="passwordValidation" th:field="*{password}"
               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
               pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,75}$"
               th:pattern="${passwordPattern}"/>
        <div id="passwordHelp" class="form-text">
          Please enter a new password. It must be between 8 and 75 characters in length and must
          include at least one upper case letter, one lower case letter, and one numeric digit.
        </div>
        <div id="passwordValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('password')} ? ${#fields.errors('password')[0]} : ''">
        </div>
      </div>

      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" role="switch"
               id="generateRandomPassword"
               name="generateRandomPassword"
               th:field="*{generateRandomPassword}"/>
        <label for="generateRandomPassword" class="form-label">
          Generate random password
        </label>
      </div>
      <button type="submit" class="btn btn-primary mt-3">
        Add
      </button>
      <a href="users.html"
         th:href="@{users(page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}"
         class="btn btn-secondary ml-3 mt-3" role="button">
        Cancel
      </a>
    </form>
  </div>
</main>
<script type="text/javascript" th:inline="javascript">
  //<![CDATA[
  "use strict";
  $(document).ready(function () {
    const loadingSpinnerModal = new bootstrap.Modal('#loadingSpinnerModal');
    $('a.show-spinner').on('click', function () {
      loadingSpinnerModal.show();
    });

    const passwordDiv = $('#passwordDiv');
    const passwordInput = $('#password');
    $('#generateRandomPassword').on("change", function () {
      const checkbox = $(this);
      if (checkbox.is(':checked')) {
        passwordInput.val('');
        passwordDiv.hide();
      } else {
        passwordDiv.show();
      }
    });
  });
  //]]>
</script>
</body>
</html>