Package: samba-ad-dc-manager
Version: [[debVersion]]
Section: net
Priority: optional
Architecture: all
Description: [[description]]
Maintainer: bremersee@googlemail.com
Distribution: stable
Depends: sudo, openjdk-21-jre-headless | openjdk-21-jre | openjdk-25-jre-headless | openjdk-25-jre