<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Header</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../../static/lib/jquery-typewatch.js"
          th:src="@{/lib/jquery-typewatch.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>

<!--
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:fragment="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
-->

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top"
     th:fragment="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" th:if="${ouDropdown == null}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Manage
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" th:href="@{/admin/users}">Users</a></li>
            <li><a class="dropdown-item" href="#" th:href="@{/admin/groups}">Groups</a></li>
            <li><a class="dropdown-item" href="#" th:href="@{/admin/computers}">Computers</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#" th:href="@{/admin/organizational-units}">Organizational Units</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item show-spinner" href="#" th:href="@{/admin/dns-zones}">DNS</a></li>
            <li><a class="dropdown-item show-spinner" href="#" th:href="@{/admin/dhcp-leases}">DHCP</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" th:if="${ouDropdown != null}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Manage
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" th:href="@{/admin/users(ou=${ouDropdown.selectedOu.distinguishedName},scope=${ouDropdown.selectedScope.parameterValue})}">Users</a></li>
            <li><a class="dropdown-item" href="#" th:href="@{/admin/groups(ou=${ouDropdown.selectedOu.distinguishedName},scope=${ouDropdown.selectedScope.parameterValue})}">Groups</a></li>
            <li><a class="dropdown-item" href="#" th:href="@{/admin/computers}">Computers</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#" th:href="@{/admin/organizational-units}">Organizational Units</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item show-spinner" href="#" th:href="@{/admin/dns-zones}">DNS</a></li>
            <li><a class="dropdown-item show-spinner" href="#" th:href="@{/admin/dhcp-leases}">DHCP</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" th:if="${ouDropdown != null}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="fa fa-folder-tree" aria-hidden="true"></span>
            <span class="mx-1" th:text="${ouDropdown.selectedOu.name}">
              OU: Users
            </span>
          </a>
          <ul class="dropdown-menu" th:if="${not #lists.isEmpty(ouDropdown.selectableOus)}">
            <li th:each="entry : ${ouDropdown.selectableOus}">
              <a class="dropdown-item" href="#"
                 th:href="@{${currentPage}(page=0,size=${size},sort=${sort},q=${q},ou=${entry.distinguishedName},scope=${ouDropdown.selectedScope.parameterValue})}">
                <span class="fa fa-folder-tree text-secondary" aria-hidden="true"></span>
                <span class="mx-1" th:text="${entry.nameTree}">
                  OU: Groups
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" th:if="${ouDropdown != null}">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
             th:classappend="${ouDropdown.scopeSelectable} ? 'dropdown-toggle' : 'disabled'"
             aria-expanded="false">
            <span class="fa fa-globe" aria-hidden="true"></span>
            <span class="mx-1" th:text="${ouDropdown.selectedScopeDisplayValue}">
              Scope: Subtree
            </span>
          </a>
          <ul class="dropdown-menu" th:if="${ouDropdown.scopeSelectable}">
            <li>
              <a class="dropdown-item" href="#" th:text="${ouDropdown.selectableScopeDisplayValue}"
                 th:href="@{${currentPage}(page=0,size=${size},sort=${sort},q=${q},ou=${ouDropdown.selectedOu.distinguishedName},scope=${ouDropdown.selectableScope.parameterValue})}">
                One level
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" th:if="${zoneTypeDropdown != null}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="mx-1" th:text="#{${zoneTypeDropdown.selectedZoneType.i18nCode}}">
              Primary Zones
            </span>
          </a>
          <ul class="dropdown-menu">
            <li th:each="entry : ${zoneTypeDropdown.selectableZoneTypes}">
              <a class="dropdown-item show-spinner" href="#"
                 th:href="@{${currentPage}(zone-type=${entry.parameterValue})}">
                <span class="mx-1" th:text="#{${entry.i18nCode}}">
                  Secondary Zones
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

</body>
</html>