<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:lang="${lang}">
  <head>
    <title th:remove="all">Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <p>
      <span th:text="#{mail-with-credentials.welcome(${user.displayName})}">
        Hello, Anna Livia Plurabelle!
      </span>
    </p>
    <p>
      <span th:text="#{mail-with-credentials.info(${props.companyName})}">
        An account was created for you on bremersee.org!
      </span>
    </p>
    <p>
      <span th:text="#{mail-with-credentials.credentials-info}">
        Your credentials are:
      </span>
    </p>
    <p>
      <span th:text="#{mail-with-credentials.credentials-username(${user.samAccountName})}">
        Username: anna
      </span>
    </p>
    <p>
      <span th:text="#{mail-with-credentials.credentials-password(${user.password})}">
        Password: changeit
      </span>
    </p>
    <p>
      <span th:text="#{mail-with-credentials.credentials-change}">
        Please log in as soon as possible and change your password:
      </span>
      <a href="http://localhost:4200"
         th:href="${props.mailWithCredentials.loginUrl}"
         th:text="#{mail-with-credentials.login}">
        LOGIN
      </a>
    </p>
    <p>
      <span th:text="#{mail-with-credentials.regards}">
        Regards,
      </span>
      <br/>
      <span th:text="${props.companyName}">
        bremersee.org
      </span>
    </p>
  </body>
</html>