<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title th:text="#{password-reset.title(${domainInfo.domain})}">Reset Password</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: auth-header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div class="d-flex justify-content-center mb-2">
    <h3>
      <span th:text="#{password-reset.header.1}">Hello,</span>
      <span th:text="${not #strings.isEmpty(user.firstName)} ? ${user.firstName} : ${user.name}">
        Christian
      </span>
    </h3>
  </div>
  <div class="d-flex justify-content-center mb-1">
    <h6 th:text="#{password-reset.header.2}">
      Please reset your password for your account in the domain
    </h6>
  </div>
  <div class="d-flex justify-content-center mb-4">
    <h6 th:text="${domainInfo.domain}">bremersee.org</h6>
  </div>

  <form th:action="@{password-reset}" method="post" th:object="${passwordResetModel}">
    <input type="hidden" name="req" th:value="${req}"/>
    <input type="hidden" name="s" th:value="${salt}"/>
    <div class="mb-3">
      <label for="username" class="form-label" th:text="#{password-reset.username.label}">
        Username
      </label>
      <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp"
             pattern="^(?![._-])[a-zA-Z0-9._-]{3,75}$"
             th:pattern="${usernamePattern}"
             th:disabled="${not isInvitation}"
             th:required="${isInvitation}"
             th:field="*{username}"
             th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''"/>
      <div id="usernameHelp" th:if="${isInvitation}" class="form-text">
        <span th:text="#{password-reset.username.help}">
          You can change your username once.
        </span>
      </div>
      <div id="usernameValidation" class="invalid-feedback"
           th:text="${#fields.hasErrors('username')} ? ${#fields.errors('username')[0]} : ''">
      </div>
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label" th:text="#{password-reset.new-password.label}">
        New password
      </label>
      <input type="password" class="form-control" id="newPassword" name="newPassword"
             aria-describedby="newPasswordHelp"
             pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,75}$"
             th:field="*{newPassword}" th:pattern="${passwordPattern}"
             th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid' : ''" />
      <div id="newPasswordHelp" class="form-text" th:text="${passwordDescription}">
        Please enter a new password. It must be between 8 and 75 characters in length and must
        include at least one upper case letter, one lower case letter, and one numeric digit.
      </div>
      <div id="newPasswordValidation" class="invalid-feedback"
           th:text="${#fields.hasErrors('newPassword')} ? ${#fields.errors('newPassword')[0]} : ''">
      </div>
    </div>
    <div class="mb-3">
      <label for="newPasswordRepetition" class="form-label"
             th:text="#{password-reset.new-password-repetition.label}">
        Repetition
      </label>
      <input type="password" class="form-control" id="newPasswordRepetition" name="newPasswordRepetition"
             aria-describedby="newPasswordRepetitionHelp"
             pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,75}$"
             th:field="*{newPasswordRepetition}" th:pattern="${passwordPattern}"
             th:classappend="${#fields.hasErrors('newPasswordRepetition')} ? 'is-invalid' : ''"  />
      <div id="newPasswordRepetitionHelp" class="form-text">
        <span th:text="#{password-reset.new-password-repetition.help}">
          Please repeat the new password.
        </span>
      </div>
      <div id="newPasswordRepetitionValidation" class="invalid-feedback"
           th:text="${#fields.hasErrors('newPasswordRepetition')} ? ${#fields.errors('newPasswordRepetition')[0]} : ''">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3" th:text="#{common.save}">
      Save
    </button>
  </form>

</main>
<script type="text/javascript" th:inline="javascript">
  //<![CDATA[
  "use strict";
  $(document).ready(function () {
  });
  //]]>
</script>
</body>
</html>