<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title th:text="#{templates.login.sign-in.t(${domainInfo.domain})}">Login</title>
  <link rel="stylesheet" href="../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../static/lib/jquery-typewatch.js"
          th:src="@{/lib/jquery-typewatch.js}"></script>
  <script src="../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: plain-header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div class="d-flex justify-content-center mb-2">
    <h3 th:text="#{templates.login.sign-in}">Sign in</h3>
  </div>
  <div class="d-flex justify-content-center mb-4">
    <h5 th:text="${domainInfo.domain}">bremersee.org</h5>
  </div>

  <div class="d-flex justify-content-center mb-4">
    <div class="col col-xxl-5 col-xl-6 col-lg-8 col-md-9">
      <form th:action="@{login}" method="post">
        <div class="input-group mb-1">
          <input type="text" class="form-control" id="username" name="username" required
                 aria-label="Username" placeholder="Username" th:placeholder="#{templates.login.username}"
                 th:classappend="${error} ? 'is-invalid' : ''" />
        </div>
        <div id="usernameHelp" class="form-text mb-4"
             th:text="#{templates.login.username.help(${domainInfo.domainControllerNetbiosName})}">
          Please enter your plain username without NetBIOS domain name EIXE.
        </div>
        <div class="input-group mb-4">
          <input type="password" class="form-control" id="password" name="password" required
                 aria-label="Password" placeholder="Password" th:placeholder="#{templates.login.password}"
                 th:classappend="${error} ? 'is-invalid' : ''" />
          <div id="error" class="invalid-feedback" th:if="${error}">
            <span th:text="#{templates.login.failed}">
              Login failed. Either your username or password is incorrect.
            </span>
          </div>
        </div>
        <div class="row justify-content-between mb-4">
          <div class="col col-auto">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me" />
              <label class="form-check-label" for="remember-me" th:text="#{templates.login.remember-me}">
                Remember me on this computer.
              </label>
            </div>
          </div>
          <div class="col col-auto">
            <a href="passwd/password-reset-request.html" th:href="@{passwd/password-reset-request}">
              <span th:text="#{templates.login.forgot-password}">Forgot password?</span>
            </a>
          </div>
        </div>
        <div class="d-flex justify-content-center mb-5">
          <button type="submit" class="btn btn-primary mm-4">
            <span th:text="#{templates.login.sign-in.button}">Sign In</span>
          </button>
        </div>
      </form>
    </div>
  </div>

</main>
<script type="text/javascript" th:inline="javascript">
  //<![CDATA[
  "use strict";
  $(document).ready(function () {
  });
  //]]>
</script>
</body>
</html>