<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:lang="${user.preferredLanguage}">
<head>
  <title th:remove="all">Welcome</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
  <span th:text="#{common.hello}">
    Hello,
  </span>
  <span th:text="${not #strings.isEmpty(user.firstName)} ? ${user.firstName} : ${user.name}">
    James
  </span>
  <span>!</span>
</p>
<p>
  <span th:text="#{password-reset-email.question}">
    Do you want to reset your password of your account in the domain
  </span>
  <a href="#"
     th:href="${properties.user.defaultLoginPage.url}"
     th:text="${domain.domainInfo.domain}">
    bremersee.org
  </a>
  <span>?</span>
</p>
<p>
  <span th:text="#{invitation-email.reset-password}">
    If so, please click
  </span>
  <a href="#"
     th:href="${resetUri}"
     th:text="#{password-reset-email.reset-password.link}">
    here
  </a>
</p>
<p>
  <span th:text="#{password-reset-email.login}">
    After you have reset your password, you can log into
  </span>
  <a href="#"
     th:href="${properties.user.defaultLoginPage.url}"
     th:text="${properties.user.defaultLoginPage.name}">
    DATA
  </a>
</p>
<p>
  <span th:text="#{common.regards}">
    Regards,
  </span>
  <br/>
  <span th:text="${regards}">
    Anna Livia
  </span>
</p>
</body>
</html>