[Unit]
Description=Domain Controller Connector
After=syslog.target

[Service]
User=smb-mngr
ExecStart=/var/lib/samba-ad-dc-manager/samba-ad-dc-manager.jar
SuccessExitStatus=1 4 3

[Install]
WantedBy=multi-user.target